.categories {
  height: 342px;
}
.categoriesHeader h3 {
  width: 238px;
  height: 58px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--neutral);
}
.categoriesHeader button {
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background-color: var(--primary);
  color: var(--neutral);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
}
.categoryBox {
  height: 202px;
}
.category {
  width: 180px;
  height: 202px;
}
.category:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.category img {
  width: 100px;
  height: 100px;
  backdrop-filter: blur(20px);
}
.category p {
  width: 81px;
  height: 22px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--neutral);
}
@media (max-width: 1024px) {
  .categories {
    height: auto;
  }
  .categoriesHeader h3 {
    width: auto;
    height:auto;
    font-size: 38px;
    line-height: 48.09px;
  }

  .categoryBox {
    height: auto;
  }

}
@media (max-width: 768px) {
  .categories {
    height: auto;
  }
  .categoriesHeader h3 {
    width: auto;
    height:auto;
    font-size: 38px;
    line-height: 48.09px;
  }

  .categoryBox {
    height: auto;
  }

}

@media (max-width: 480px) {
  .categories {
    height: auto;
  }
  .categoriesHeader h3 {
    width: auto;
    height:auto;
    font-size: 28px;
    line-height: 28.09px;
  }

  .categoryBox {
    height: auto;
  }
  .categoriesHeader{
    flex-direction: column;
    gap: 2.5rem;
  }


}

@media (max-width: 320px) {
  .categories {
    height: auto;
  }
  .categoriesHeader h3 {
    width: auto;
    height:auto;
    font-size: 18px;
    line-height: 18.09px;
  }

  .categoryBox {
    height: auto;
  }
  .categoriesHeader{
    flex-direction: column;
    gap: 2.5rem;
  }
 

}
