.newsletter {
  background-color: var(--primary);
  height: 442px;
  border-radius: 60px;
  position: relative;
}

.newsletterImage {
  background-image: url("../../assets/images/newsletter-1.png"),
    url("../../assets/images/Photo-plate.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  border-radius: 60px;
}

.newsletterBox {
  width: 620px;
  height: 282px;
}

.newsletterBox h3 {
  text-align: center;
  width: 599px;
  height: 58px;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
  letter-spacing: -0.04em;
}

.newsletterBox p {
  width: 620px;
  height: 56px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.newsletterBox form {
  width: 480px;
  height: 80px;
  border-radius: 24px;
  background-color: var(--base-100);
}

.newsletterBox form button {
  width: 160px;
  height: 60px;
  border-radius: 16px;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .newsletter {
    height: auto;
  }

  .newsletterBox {
    width: 100%;
    height: 282px;
  }

  .newsletterImage {
    background-image: url("../../assets/images/newsletter-1.png");
  }

  .newsletterBox h3 {
    width: 100%;
    height: auto;
    font-size: 38px;
    line-height: 48.09px;
  }

  .newsletterBox p {
    width: 100%;
    height: auto;

    font-size: 16px;

    line-height: 28px;
  }

  .newsletterBox form {
    width: 90%;
    height: 60px;
  }

  .newsletterBox form button {
    width: 130px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .newsletter {
    height: auto;
  }

  .newsletterBox {
    width: 100%;
    height: 282px;
  }

  .newsletterImage {
    background-image: url("../../assets/images/newsletter-1.png");
  }

  .newsletterBox h3 {
    width: 100%;
    height: auto;
    font-size: 38px;
    line-height: 48.09px;
  }

  .newsletterBox p {
    width: 100%;
    height: auto;

    font-size: 16px;

    line-height: 28px;
  }

  .newsletterBox form {
    width: 90%;
    height: 60px;
  }

  .newsletterBox form button {
    width: 100px;
    height: 40px;
  }
}

@media (max-width: 320px) {
  .newsletter {
    height: auto;
  }

  .newsletterBox {
    width: 100%;
    height: 282px;
  }

  .newsletterImage {
    background-image: url("../../assets/images/newsletter-1.png");
  }

  .newsletterBox h3 {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 18.09px;
  }

  .newsletterBox p {
    width: 100%;
    height: auto;

    font-size: 12px;

    line-height: 18px;
  }

  .newsletterBox form {
    width: 90%;
    height: 60px;
  }

  .newsletterBox form button {
    width: 80px;
    height: 40px;
  }
}