.specialRecipesHeader h3 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--neutral);
}

.specialRecipesHeader p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--secondary);
}

@media (max-width: 1024px) {
  .specialRecipesHeader {
    flex-direction: column;
  }

  .specialRecipesHeader h3 {
    font-size: 38px;
    line-height: 48.09px;
  }

  .specialRecipesHeader p {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .specialRecipesHeader {
    flex-direction: column;
  }

  .specialRecipesHeader h3 {
    font-size: 38px;
    line-height: 48.09px;
  }

  .specialRecipesHeader p {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 480px) {
  .specialRecipesHeader {
    flex-direction: column;
  }

  .specialRecipesHeader h3 {
    font-size: 28px;
    line-height: 38.09px;
  }

  .specialRecipesHeader p {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .specialRecipesHeader {
    flex-direction: column;
  }

  .specialRecipesHeader h3 {
    font-size: 18px;
    line-height: 28.09px;
  }

  .specialRecipesHeader p {
    font-size: 12px;
    line-height: 18px;
  }
}