.aboutKitchen {
  height: 597px;
}

.aboutKitchenLeft {
  width: 90%;
  border-radius: 16px;
}

.aboutKitchenLeft h3 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #000000;
}

.aboutKitchenLeft p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--secondary);
}

.aboutKitchenLeft button {
  width: 180px;
  height: 60px;
  border-radius: 16px;
  background-color: var(--neutral);
  color: var(--base-100);
}

.aboutKitchenRight {
  width: 90%;
  height: 597px;
}

.aboutKitchenRight img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .aboutKitchen {
    height: auto;
    flex-direction: column;
  }

  .aboutKitchenLeft {
    width: 100%;
  }

  .aboutKitchenLeft h3 {
    font-size: 38px;
    line-height: 48.09px;
  }

  .aboutKitchenLeft p {
    font-size: 14px;
    line-height: 18px;
  }

  .aboutKitchenRight {
    width: 100%;
    height: 597px;
  }

  .aboutKitchenRight img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .aboutKitchen {
    height: auto;
    flex-direction: column;
  }

  .aboutKitchenLeft {
    width: 100%;
  }

  .aboutKitchenLeft h3 {
    font-size: 38px;
    line-height: 48.09px;
  }

  .aboutKitchenLeft p {
    font-size: 14px;
    line-height: 14px;
  }

  .aboutKitchenRight {
    width: 100%;
    height: 597px;
  }

  .aboutKitchenRight img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .aboutKitchen {
    height: auto;
    flex-direction: column;
  }

  .aboutKitchenLeft {
    width: 100%;
  }

  .aboutKitchenLeft h3 {
    font-size: 28px;
    line-height: 28.09px;
  }

  .aboutKitchenLeft p {
    font-size: 12px;
    line-height: 12px;
  }

  .aboutKitchenRight {
    width: 100%;
    height: 597px;
  }

  .aboutKitchenRight img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}

@media (max-width: 320px) {
  .aboutKitchen {
    height: auto;
    flex-direction: column;
  }

  .aboutKitchenLeft {
    width: 100%;
  }

  .aboutKitchenLeft h3 {
    font-size: 18px;
    line-height: 18.09px;
  }

  .aboutKitchenLeft p {
    font-size: 12px;
    line-height: 12px;
  }

  .aboutKitchenRight {
    width: 100%;
    height: 597px;
  }

  .aboutKitchenRight img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}